.navbarContainer {
	width: 100%;
	padding: 0px 0px 0px 20px; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	background-color: #637a94;
}
#home-button{
	border: none;
	outline: none;
	background-color: #637a94;
	color:white;
	font-size: 20px;
	cursor: pointer;
}
#hamburger-header{
	background-color: #637a94;
	display: none;
	outline: none;
	border: none;
}
.hamburger-line{
	background-color: white;
	width: 30px;
	height: 3px;
	margin-bottom: 4px;
}
#rightSide {
	display: flex;
	align-items: center;
	color: white;
}
.navElem, .navTitle, #login-button{
	font-size: 16px;
	color: white;
}
.navTitle{
	background-color: #637a94;
	border: none;
	outline: none;
	cursor: pointer;
}
.navElem   {
	display: inline-block;
	padding: 0px 40px 0px 0px;
}
#login-button{
	height: 30px;
	width: 90px;
	outline: none;
	border: none;
	cursor:pointer;
	text-transform: uppercase;
	background-color: #F7882F;
	color: white;
	border-radius: 50px;
	opacity: 0.9;
}
#login-button:hover{
	opacity: 1;
}
#hamburger-close-button{
	display: none;
}
@media screen and (min-width: 770px) {
	#rightSide{
		width: 800px !important;	
	}
}
@media screen and (max-width: 950px) {
	.navElem, .navTitle, #login-button{
		font-size: 14px;
		color: white;
	}
}
@media screen and (max-width: 850px) {
	.navElem, .navTitle, #login-button{
		font-size: 12px;
		color: white;
	}
}
@media screen and (max-width: 850px) {
	.navElem, .navTitle, #login-button{
		font-size: 10px;
		color: white;
	}
}
@media screen and (max-width: 770px) {
	.navbarContainer{
		width: 100%;
		flex-direction: column;
		align-items: flex-start;	
		
	}
	#hamburger-header{
		position: absolute;
		top: 5px;
		right: 15px;
		display: block;
		color:black;
	}
	
	#rightSide{
		display: inline;
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #536272;
		overflow-x: hidden;
		transition: 0.5s;
		text-align: center;
	}
	.navTitle{
		background-color: #536272;
		opacity: 1;
		border: none;
		outline: none;
		cursor: pointer;
	}
	
	.nav_links{
		text-align: center;
		top: 25%;
		width: 100%;
		padding: 0px;
	}
	.navElem {
		
		padding: 0px;
		margin-bottom: 10px;
		text-decoration: none;
		font-size: 36px;
		color: #818181;
		display: block;
		transition: 0.4s;
	}
	
	#hamburger-close-button{
		display: block;
		position: absolute;
	  	top: 5px;
	  	right: 15px;
	  	font-size: 60px;
		background-color: #536272;
		border: none;
		outline: none;
		color: white;
	}
	
	#home-button{
		margin-bottom: 5px;
	}
}	