* {
	box-sizing: border-box;
}
body{
	margin: 0px;
	background-color: #f1f1f1;
	font-family: 'Raleway', sans-serif;
}
#main-cont{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 15px;
	align-items: center;
}
/*TOP */
.top-row{
	padding: 5px;
	margin: 30px 0px 30px 0px; 
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 95%;
	background-color: #6c7a8b;
	color: white;
}
.welcome{
	display: flex;
	flex-direction: column;
	width: 400px;
}
.video{
	width: 50%;
}
.join{
	border: none;
	outline: none;
	width: 300px;
	height: 50px;
	background-color: #F7882F;
	color: white;
	cursor: pointer;	
	font-size: 20px;
	opacity: 0.9;
}
.join:hover{
	opacity: 1;
}
/*Mid */
.mid-container{
	margin: auto;
	margin-bottom: 20px;
	padding: 10px;
	display: flex;
	font-size: 20px;
	align-items: center;
	justify-content: space-around;
	width: 95%;	
	background-color:#6c7a8b;
	color: white;
}

.fas.fa-search-location, .fas.fa-handshake{
	font-size: 150px;
	color: #F7882F;
}

.mid-text{
	width: 600px;
	display: flex;
	flex-direction: column;
}
/*Bot */
.feature-container{
	margin: auto;
	margin-top: 80px;
	padding: 10px;
	width: 95%;
	background-color:#6c7a8b;
	color: white;
	text-align: center;
}
.features-row{
	display: flex;
	justify-content: space-around;
}
.feature-elem{
	display: flex;
	flex-direction: column;
	width: 200px;
}
.feature-title{
	color: white;
	margin-top:15px;
	margin-bottom:15px;
	font-size: 25px;
}
.feature-description{
	margin: 0px;
}
.fas.fa-globe, .fas.fa-shield-alt, .fab.fa-hubspot, .fas.fa-bolt{
	font-size: 50px;
	color: #F7882F;
}
#privacy-cont{
	padding: 10px;
}
/*Responsive*/

@media screen and (max-width: 770px) {
	body{
		width: 100%;
		padding: 5px;
	}
	#main-cont{
		width: 100%;
	}

	/*Top Row*/
	.top-row{
		width: 100%;
		flex-direction: column;

		
	}
	.welcome{
		width: 100%;

	}
	.video{

		width: 100%;
	}
	.home-video{
		width: 100%;
	}
	#join-button{
		width: 100%;
		margin-bottom: 10px;
	}

	/*Mid Container*/
	.mid-container{
		width: 100%;
	}
	.mid-text{
		width: 100%;

	}
	.fas.fa-search-location, .fas.fa-handshake{
		display: none;
	}
	/*Feature Container*/
	.feature-container{
		width: 100%;
	}
	.features-row{
		width: 100%;
		flex-direction: column;
	}
	.feature-elem{
		width: 100%;
		margin-bottom: 20px;
		padding-bottom: 5px;
		border-bottom: 1px solid white;
	}
}