body{
	margin: 0px;
	padding: 0px;
}
.people-container {
	width: 100%;
	background-color: lightgrey;
}
.search-container{
	padding-top: 10px;
	margin: 15px;
}
.people-search{
	font-size: 15px;
}
.people-search::placeholder{
	font-size: 0.9rem;
}
#people-search-button{
	background-color: #637a94;
	border: none;
	outline: none;
	font-size: 15px;
}
.avatarList {
	padding: 5px;
	display:flex;
	flex-wrap: wrap;
}

.info {

	background-color: white;
	width: 300px;
	text-align: center;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.listAvatar {
	height: 200px;
	width:100%;
}

.personName {
	margin-top: 5px;
	margin-bottom: 5px;
	color : black;
}
.info:hover {
	transform: scale(1.05);
}

.input-row {
	width: 100%;
	display:flex;
	justify-content: flex-start;
}

.inp {
	width: 100%;
	display: none;
}



@media screen and (max-width: 1000px) {
	.info{
		width: 250px;
	}
}

@media screen and (max-width: 800px) {
	.info{
	
		width: 300px;
	}
}
@media screen and (max-width: 700px) {
	.info{
		width: 300px;
	}
}
@media screen and (max-width: 610px) {
	.info{
		width: 250px;
	}
}
@media screen and (max-width: 500px) {
	.info{
		width: 300px;
	}
}

@media screen and (max-width: 250px) {
	.people-search{
		width: 100%;
	}
}