*{
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;

}
body{
	margin: 0px;
	padding: 0px;
	background-color: white;
}
.about{
	padding: 40px;
	padding-top: 20px;
	max-width: 1200px;
}
.about-info, .team{
	width: 100%;
}
.about-info	{
	margin-bottom: 40px;
}
.team{
	display: flex;
	justify-content: flex-start;
}
.member{
	width: 250px;
	background-color: white;
	margin-right: 15px;
	
}
.member-img-div{
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.member-img{
	margin-top: -50px;
	width: 100%;
	
}
.member-occupation{
	color: grey;
}

.member-contact{
	width: 100%;
	background-color: #f1f1f1;
	border: none;
	outline: none;
	font-size: 15px;
	height: 35px;
}
.member-contact:hover{
	background-color: grey;
	cursor: pointer;
}


@media screen and (max-width: 770px) {
	.about{
		/*border: 3px solid yellow;*/
		width: 100%
	}
	.about-info{
		/*border: 2px solid blue;*/
		width: 100%
	}
	.team{
		/*border: 2px solid red;*/
		width: 100%;
		flex-direction: column;
	}
	.member{
		width: 100%;
		/*border: 2px solid green;*/
		margin-bottom: 30px;
		padding-bottom: 15px;
		border-bottom: 1px solid grey;


	}
	.member-img-div{
		width: 100%;
		/*border: 2px solid red;*/
		height: auto;
		
	}
	.member-img{
		
	}
	.member-name{
		
	}
	.member-occupation{
		
	}
	.member-contact{
		
	}
}