
#contact-cont{
	width: 100%;
	padding: 30px;	
	display: flex;
	justify-content: space-between;
	/* border: 3px solid red; */
}
#contact-left{
	
	/* border: 3px solid blue; */
}
#contact-right{
	width: 80%;
	/* border: 3px solid green; */
}
.contact-row{
	width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contact-row.text{
	margin-top: 20px;
	align-items: flex-start;
	padding-top: 0px;
}
.contact-label.text{
	margin-top: 0px;
}
.contact-input{
	width: 200px;
	height: 20px;
}
.contact-input.text{
	height: 200px;
	width: 200px;

}
.contact-label{
	display: inline;
}

#contact-back{
	margin: auto;
	
	width: 700px;
	height: auto;
}

#contact-send-button {
	margin-left: auto;
	margin-top: 10px;
	outline: none;
	text-decoration: none;
	height : 30px;
	width: 100px;
	color: white;
	border: none;
	border-radius: 50px;
	cursor:pointer;
	background-color: #F7882F;
	opacity: 0.9;
}
#send-button:hover{
	opacity: 1;
}

#message-sent{
	display: none;
}
#map{
	/* border: 3px solid yellow; */
	
	margin-left: 10px;
}
#google-map{
	/* border: 3px solid brown; */
}


@media screen and (max-width: 770px) {
	#contact-cont{
		/*border: 3px solid black;*/
		width: 100%;
		flex-direction: column;
		padding: 20px;
	}
	#contact-left{
		width: 100%;
		/*border: 1px solid green;*/
		margin-bottom: 20px;
	}	
	#contact-right{
		width: 100%;
		/*border: 1px solid green;*/
	}
	#contact-form{
		display: flex;
		flex-direction: column;
		
		width: 100%;
		
		/*border: 1px solid red;*/
	}
	.contact-row{
		width: 100%;
		/*border: 1px solid red;*/
		display: flex;
		flex-direction: column;
	}
	.contact-row.text{
		margin: 0px;
		padding: 0px;
		align-items: center;
		
	}
	.contact-label.text{
		margin-top: 20px;
	}
	.contact-input{
		width: 100%;
		height: 20px;
	}
	.contact-input.text{
		height: 200px;
		width: 100%;
	}
	#contact-send-button{
		margin: auto;
	}
	#map{
		overflow:hidden;

		/*border: 1px solid red;*/
		width: 100% !important;
	}

	#google-map{
		/*border: 1px solid blue;*/
		width: 100%;
	}
}