/*Foooter */
.footerContainer{
	margin-top: 100px;
	background-color: #536272;
	border: 1px solid #536272;
}
.footer-hr{
	margin-left: 20px;
	margin-right: 20px;
}
.footerFirstRow{
	display: flex;
	justify-content: space-around;
}
.footer-li{
	cursor: pointer;

}
.footerFirstRow, .footerSecondRow{
	color:white;
}
.footerSecondRow{
	display: flex;
	justify-content: space-around;
}

.footerThirdRow{	
	color:white;
	text-align: center;
}
.footer-logo{
	height: 100px;
}