/*Foooter */
.footerContainer{
	margin-top: 100px;
	background-color: #536272;
	border: 1px solid #536272;
}
.footer-hr{
	margin-left: 20px;
	margin-right: 20px;
}
.footerFirstRow{
	display: flex;
	justify-content: space-around;
}
.footer-li{
	cursor: pointer;

}
.footerFirstRow, .footerSecondRow{
	color:white;
}
.footerSecondRow{
	display: flex;
	justify-content: space-around;
}

.footerThirdRow{	
	color:white;
	text-align: center;
}
.footer-logo{
	height: 100px;
}


@media screen and (max-width: 770px) {
	.footerContainer{
		border: 1px solid black;
		width: 100%;

	}
	.footerFirstRow{
		border: 1px solid red;
		width: 100%;
		flex-direction: column;
	}
	.column.First{
		/*border: 1px solid blue;*/
	}
	.footerSecondRow{
		width: 100%;
		flex-direction: column;
	}
	.footer-logo{
		margin-bottom: 5px;
	}
}