body{
	padding: 0px;
	margin: 0px;
}
.group-cont {
	margin-top: 10px;
	display: flex;
	justify-content: flex-start;
	background-color: white;
}
.group-right{
	
	width: 1000px;
	display: flex;
	align-items: space-around;
	flex-direction: column;
	background-color:  #637a94;

}
.group-list {
	overflow-y: scroll;
	height: 680px;
	background-color:  #637a94;
	
	width: 1000px;
	padding:10px;
	padding-top: 3px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	
}
.group {
	width: 300px;
	height: 320px;
	margin: 5px;
	margin-bottom: 20px;
	background-color: white;
	margin-right: 15px;
}
.groupTitle{
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

.groupDescription{
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 5px;
}

.groupImg{
	cursor: pointer;
	width: 100%;
	height: 200px;
}
.group-left{	
	width: 400px;
	height: 700px;
	background-color: #637a94;
	display: flex;
	flex-direction: column;
	padding: 3px;
}
.group-categorys{
	padding: 5px;
}
.category{
	padding: 10px;
	font-size: 20px;
	background-color: white;
	border: none;
	color:white;
	outline: none;
	font-family: sans-serif;
	text-align: left;
	margin-bottom: 5px;
	cursor:pointer;
	display: flex;
	flex-direction: column;
	width: 100%;
	color: black;
}

.category:hover{
	border-color: #637a94;
	/*background-color: #637a94;*/
	color:black;
	cursor: pointer;
}


.groupType{
	display:none;
}


#group-back-img-div{
	height: 300px;

	overflow: hidden;
}
/*Group Inside */
.group-background-img{
	position: relative;	
	margin-top: -10%;
	width: 1000px;
}
.post{
	background-color: #f1f1f1 !important;
}
.group-in{
	overflow-y: scroll;
	height: 680px;
}
#group-description{
	
	color : white;
}
#group-in-second-line{
	padding-right: 10px;
	padding-left: 10px;
	align-items: center;
	display: flex;
	justify-content: space-between;

}
.qqq{
	color:red;
}
#follow-group, #back, #followed-group{
	outline: none;
	text-decoration: none;
	height : 30px;
	width: 120px;
	color: white;
	border: none;
	border-radius: 50px;
	cursor:pointer;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	background-color: #F7882F;
	opacity: 0.9;
}
#back{
	margin-right: 5px;
}
.two-buttons{
	display: flex;
}
#followed-group{
	display: none;
	color:black;
	background-color: #f1f1f1;
}

.fas.fa-check{
	color: black;
}

