* {
	box-sizing: border-box;
	margin: 0;	
}

li, a, button {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: black; 
	text-decoration: none;
}

header {
	background-color: #38d39f;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 5%;
	font-size: 1.2rem;
}
#rightSide {
	display: flex;
	align-items: center;
}
h3 {
	cursor: pointer;
	color: black;
}
.nav_links li   {
	display: inline-block;
	padding: 0px 20px;
}

.nav_links li a {
	transition: all 0.3s ease 0s;
	opacity:0.7;
}

.nav_links li a:hover {
	opacity:1;
}

#loginButton {
	height : 30px;
	width: 100px;
	color: white;
	border: none;
	border-radius: 50px;
	cursor:pointer;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	background-color: black;
	opacity: 0.8;
	
	background-size: 200%;
}
#loginButton:hover{
	opacity: 1;
}

