.navbarContainer {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	background-color: #637a94;
	height: 50px;
	/* border: 3px solid blue; */
}
#home-button{
	border: none;
	outline: none;
	background-color: #637a94;
	font-size: 20px;
	cursor: pointer;
	color: white;
	/* border: 3px solid red; */
	
}
#rightSide {
	/* border: 3px solid red;  */
	color: white;
	display: flex;
	align-items: center;
	
}
#header-navs{
	border: 3px solidyellow;
}
.nav_links{
	/* border: 3px solid green; */
}


.navElem, .navTitle, #login-button{
	font-size: 16px;
	color: white;
}
.navTitle{
	background-color: #637a94;
	border: none;
	outline: none;
	cursor: pointer;
}
.navElem   {
	display: inline-block;
	padding: 0px 20px;
}
#hamburger-header{
	display: none;
	outline: none;
	border: none;
	color: white;
	font-size: 1.1rem;
	
}
#login-button{
	
	outline: none;
	text-decoration: none;
	height : 30px;
	width: 100px;
	color: white;
	border: none;
	border-radius: 50px;
	cursor:pointer;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	background-color: #F7882F;
	opacity: 0.9;
	margin: 2px;
}
#login-button:hover{
	opacity: 1;
}
#closebtn{
	display: none;
}



@media screen and (min-width: 770px) {
	#rightSide{
		width: 800px !important;	
	}
}
@media screen and (max-width: 770px) {
	.navbarContainer{
		width: 100%;
		flex-direction: column;
		align-items: flex-start;	
		padding-left: 2px;
		padding-top: 2px;	
		padding-right: 0px;
	}
	#hamburger-header{
		position: absolute;
		right: 5px;
		display: block;
		color:black;
	}
	/*#rightSide{
		display: none;
		width: 100%;
		border: 1px solid red;
		flex-direction: column;
		align-items: flex-start;
		border: 1px solid red;
	}*/
	#rightSide{
		display: inline;
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #536272;
		overflow-x: hidden;
		transition: 0.5s;
		text-align: center;
	}
	.navTitle{
		background-color: #536272;
		opacity: 1;
		border: none;
		outline: none;
		cursor: pointer;
	}
	#header-navs{
		/*border: 3px solid red;*/
	}
	.nav_links{
		text-align: center;
		top: 25%;
		width: 100%;
		padding: 0px;
	}
	.navElem {
		
		padding: 0px;
		margin-bottom: 10px;
		text-decoration: none;
		font-size: 36px;
		color: #818181;
		display: block;
		transition: 0.4s;
	}
	.navTitle{
		/*border: 3px solid white;*/
	}
	.navElem:hover, .navElem:focus {
  		
	
	}
	#closebtn{
		display: block;
		position: absolute;
	  	top: 5px;
	  	right: 15px;
	  	font-size: 60px;
		background-color: #536272;
		border: none;
		outline: none;
		color: white;
	}
	

	/**/
	/*#header-navs{
		width: 100%;
		
	}
	.nav_links{
		
		display: flex;
		flex-direction: column;

		padding-left: 5px;
		margin: 0px;
	}
	.navElem{
		padding-left: 0px;
		margin-bottom: 5px;
		font-size: 1.2rem;
		width: 100%;
		
	}*/
	#home-button{
		margin-bottom: 5px;
		
	}

	
}	