.container {
	display:flex;
	flex-direction: row;

}
.leftBar{
	width: 300px;
	background-color: grey;
	margin-right: 40px;
}
.avatarList {
	background-color: lightgrey;
	display:flex;
	justify-content: flex-start;
	padding-top : 50px;
	flex-wrap: wrap;
}

.info {
	background-color: white;
	width: 300px;
	text-align: center;
	margin: 10px;
	cursor: pointer;
}

.listAvatar {
	height: 200px;
	width:100%;

}

h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	color : black;
}

.info:hover {
	transform: scale(1.1);
}


.input-row {
	width: 100%;
	
	display:flex;
	justify-content: flex-start;
}


.inp {
	width: 100%;

	display: none;
}

