body {
	display:flex;
	flex-direction: row;

}
.leftBar{
	width: 300px;
	background-color: red;
	margin-right: 40px;
}
.container {
	background-color: blue;
	display:flex;
	justify-content: flex-start;
	
	padding-top : 50px;
	flex-wrap: wrap;
}

.info {
	border: 1px solid black;
	width: 15%;
	text-align: center;
	margin: 10px;
	
	cursor: pointer;
}

img {
	height: 150px;
	max-width:100%;
}

h4 {
	color : black;
}

.info:hover {
	transform: scale(1.1);
}


.input-row {
	width: 100%;
	
	display:flex;
	justify-content: flex-start;
}


.inp {
	width: 100%;

	display: none;
}

