body{
	margin:0px;
	padding: 0px;
}
.register-container{
    display: flex;
    flex-direction: row;
   	justify-content:space-between;
   	align-items: center;
   	padding-left: 50px;
   	padding-right: 50px;
   	margin-bottom: 50px;
}
.registerBox{
	text-align: center;
	height : 500px;
	
}
#register-alert{
	color:red;
	margin-bottom: 0px;
	visibility: hidden;
}
#registerBackImg{
	margin-top: 100px;
	width : 600px;
}
.registerForm {
	width : 350px;
}
.registerForm .registerFormTitle{
	
	font-size: 2.9rem;
	text-transform: uppercase;
	text-align: center;
	color : #333;
	margin-bottom: 0px;
}
.inputBox {
	/*border: 2px solid yellow;*/
	display : flex;
	flex-direction: row;
	align-items: center;
	margin : 15px 0px;
	padding : 15px 0;
	border-bottom: 2px solid #d9d9d9; 
}

.i i {
	color:#637a94;
}
.input {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background : none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #444;
}
::placeholder{
	font-size: 1.2rem;
	color: #444;
}
.btn {
	text-align: center;
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	margin: 1rem 0;
	font-size: 1.2rem;
	/*outline: none;*/
	border: none;
	background-color: #637a94;
	opacity: 0.9;
	cursor: pointer;
	color: #fff;
	background-size: 200%;
	transition: .5s;
	text-transform: uppercase;
}
.btn:hover{
	opacity: 1;
}
.registerStatus {
	padding: 0.5rem 0.7rem;
	border:none;
	width:30%;
	background-color: white;
	font-size: 1.2rem;
	color: #444;
}	
.initial{
	display:none;
}



/*Responsiveness*/

@media screen and (max-width: 950px){
	#registerBackImg{
		border: 1px solid black;
		display: none;
	}

	.registerBox{
		max-width: 100%;
		margin: auto;
	}
	
	.registerForm{
		border: 1px solid black;
		margin: auto;
		max-width: 100%; 
	}
	.container{
		
	}
}
