
body{
	padding: 0px;
	margin: 0px;
	background-color: #f5f7f8;
}

/*TOP */

.top-row{
	align-items: center;
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 100px;
}
.welcome{
	width: 400px;
	display: flex;
	flex-direction: column;
	
}
.video{
	
}
.join{
	cursor: pointer;
	background-color: #38d39f;
	color: white;
	border: none;
	outline: none;
	width: 300px;
	height: 50px;
	font-size: 20px;
	opacity: 90%;
}
.join:hover{
opacity: 100%;
}

/*Mid */
.mid-container{
	font-size: 20px;
	margin: auto;
	width: 1200px;
	background-color: lightgrey;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 20px;
}
.fas.fa-search-location, .fas.fa-handshake{
	font-size: 150px !important;
	color: #38d39f !important;
}
/*.fa-search-location .fa-handshake{
	font-size: 150px !important;
	color: blue !important;
}*/
.mid-text{
	width: 600px;
	display: flex;
	flex-direction: column;
}

/*Bot */
.feature-container{
	margin-top: 100px;
	text-align: center;
	/*border: 2px solid black;*/
	margin-bottom: 150px;
}
.features-row{
	display: flex;
	justify-content: space-around;
	/*border: 2px solid red;*/
}
.feature-elem{
	display: flex;
	flex-direction: column;
	width: 200px;
}
.feature-title{
	
	margin-top:15px;
	margin-bottom:15px;
	font-size: 25px;
}
.feature-description{
	margin: 0px;
}
.fas, .fab{
	font-size: 50px;
	color: #38d39f;
}





/*Foooter */

li {
	cursor: pointer;

}
.footer-hr{
	margin-left: 20px;
	margin-right: 20px;
}

.footerContainer{
	background-color: #2A2929;
	border: 2px solid black;
}
.footerFirstRow{
	justify-content: center;
}
.footerFirstRow, .footerSecondRow{
	color:white;
	background-color: #2A2929;
}
.footerSecondRow{
	display: flex;
	justify-content: space-around;
}
.footer-logo{
}
.footerThirdRow{
	
	color:white;
	text-align: center;
	margin-bottom: 0px;
}
.footer-logo{
	height: 100px;

}